@use 'styles/colors';

.container {
  border: 1px solid colors.$border-gray;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  height: fit-content;
}

.line {
  width: 1rem;
  height: 2px;
}
