.calcContainer {
  border-radius: 1rem;
  border: 1px solid #dfe0eb;
  padding: 1rem;
  margin-top: 2.5rem;
  width: 90%;

  .resultRow {
    border-top: 1px solid #dfe0eb;
    padding-top: 1rem;
  }
}
