$primary: #6a00ff;
$secondary: #333333;
$secondary-blue: #333aff; 

$black: #333333;
$medium-gray: #808080;
$light-gray: #d4d4d4;
$pale-gray: #adadad;
$border-gray: #dfe0eb;
$white: #ffffff;
$bg-white: #f7f7f7;
$bg-purple: #ece5ff;

$primary-hover: #a566ff;
$secondary-hover: #c399ff;

$business-user: #4000ff;
$disabled: #adadad;
$blue: #0F77F0; 
$muted-blue: #c2deff; 
$warning-orange: #ff9500; 
$muted-orange: #ffe3bc; 
$red: #ff0055;
$muted-red: #ffbfd4;
